<html lang="en">
      <%- include("./partial/head")  %> 
<body>
      <%- include("./partial/header") %> 

      <section id="banner-carousel">
            <img src="/images/imagen-salon.jpeg" alt="">
      </section>

      <main id="home-main">
            <section id="novedades" class="pad-section">
                  <div class="titulo-link-contain">
                        <h2>Novedades</h2>
                        <a class="link-ver-mas" href="/products">Ver mas</a>
                  </div>
                  <div class="novedades-contain">
                        <article class="nov-caja nov-caja1 n-size d-flex flex-wrap">
                              <div class="nov-img-contain width-50 width-100 height-50 d-flex-wrap a-i-center a-i-start order-1">
                                    <img class="n-img-size d-flex flex-wrap" src="/images/monociclos/mc-403-go-KART.jpg"alt="imagen-mc">
                                    <a href="/productDetail" class="h2-nov width-70">VER MAS</a>
                              </div>
                              <div class="nov-des-contain width-50 width-100 height-50 d-flex flex-wrap a-i-center" >
                                    <h3>Nombre del producto</h3>
                                    <p>Illum omnis illo aspernatur natus totam, magni perferendis deleniti, dolorum accusantium tenetur, magnam temporibus inventore? Deserunt.</p>
                              </div>
                        </article>
                        <div class="f-column d-flex flex-wrap">
                              <article class="nov-caja nov-caja2 n-size d-flex flex-wrap">
                                    <div class="nov-img-contain width-50 d-flex-wrap a-i-center">
                                          <img class="n-img-size d-flex flex-wrap max-height" src="/images/monociclos/mc-402-segway-PRO-WHITE.jpg"  alt="Kart">
                                          <a href="/productDetail" class="h2-nov width-70">VER MAS</a>
                                    </div>   
                                    <div class="nov-des-contain width-50 d-flex flex-wrap a-i-center">
                                          <h3>Nombre del producto</h3>
                                          <p> Ad debitis praesentium! Illum omnis illo aspernatur natus totam, magni perferendis deleniti, dolorum accusantium tenetur, magnam temporibus inventore? Deserunt.</p>
                                    </div>  
                              </article>
                              <article class="nov-caja nov-caja3 n-size d-flex flex-wrap">
                                    <div class="nov-img-contain  width-50 d-flex flex-wrap a-i-center order-1">
                                          <img class="n-img-size d-flex flex-wrap max-height" src="/images/bicicletas/bic-200-blue-electric-bike-794411_00.jpg" alt="" height="100%">
                                          <a href="/productDetail" class="h2-nov width-70">VER MAS</a>
                                    </div>   
                                    <div class="nov-des-contain width-50 d-flex flex-wrap a-i-center">
                                          <h3>Nombre del producto</h3>
                                          <p>Lorem ipsum dolor sit. Amet, adipisci. Lorem adipisicing elit. Sapiente voluptatum nobis dolorem, dicta exercitationem optio distinctio? Ex aspernatur temporibus saepe.</p>
                                    </div>    
                              </article> 
                        </div>  
                  </div>
            </section>
            
            <section id="lista-productos" class="pad-section">            
                  <div class="titulo-link-contain">
                        <h2>Productos</h2>
                        <a class="link-ver-mas" href="/products">Ver mas productos</a>
                  </div>
                  <% for (let dato of items) {%>
                  <article class="home-producto">
                        <div class="article-img">
                              <img src="/images/visitados/<%= dato.image %>" alt="">
                        </div>
                        <div class="article-base">
                              <h3><%= dato.name   %></h3>
                              <h2>$<%= dato.price   %></h2>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate.</p>
                              <a class="ver-mas" href="/products/<%= dato.id   %>/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <%}%>

                 
            </section>
            
            <section id="accesorios" class="pad-section">
                  <div class="titulo-link-contain">
                        <h2>Accesorios</h2>
                        <a class="link-ver-mas" href="./products/acc">Ver mas accesorios</a>
                  </div>
                  <% for (let i of esteAccesorio) {%>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/<%= i.image%>" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#"><%= i.name%></a></h3>
                              <p class="precio">$<%= i.price%></p>
                              <a class="ver-mas" href="/products/<%= dato.id   %>/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <%}%>

                  <!-- <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-101-backpack-pj.jpeg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-102-External-BATERIA.png" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-103-CASCO-w01.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-105-Soporte-celular.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article>
                  <article class="ac-contain">
                        <div class="p-ac-img">
                            <img src="/images/accesorios/acc-104-BOLSO002.jpg" alt="canasta">
                        </div>
                        <div class="acc-base-contain">
                              <h3><a href="#">Nombre del accesorio</a></h3>
                              <p class="precio">Precio</p>
                              <a class="ver-mas" href="/productDetail">Ver mas</a>
                              <a class="add-car" href="/productCart">Agregar al carrito</a>
                        </div>      
                  </article> -->
                  
            </section>

            <section id="base-de-home">
                  <div class="base-home-contain">
                        <a href="#">
                              <i class="fas fa-headset"></i>
                              <h5>Soporte tecnico</h5>
                        </a>
                        <a href="#">
                              <i class="fas fa-shield-alt"></i>
                              <h5>Garantia 1 año de fabrica</h5>
                        </a>
                        <a href="#">
                              <i class="fas fa-shipping-fast"></i>
                              <h5>Envio a todo el pais</h5>
                        </a>
                        <a href="#">
                              <i class="fas fa-bicycle"></i>
                              <h5>Asesoramiento en compra</h5>
                        </a>
                  </div>
            </section>
      </main>

            <%- include("./partial/footer") %> 
</body>
</html>