<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js" integrity="sha512-p1b+doSyVwyKqVTZeU1+XJtjpBSkhllBca2L6QTxPUjZZ0ELeZIHkAeQdtfNulbXxLdCwN4uKYGPpp78xeqwfQ==" crossorigin="anonymous"></script>
        <!-- <script src="/javascripts/editPerfilValidation.js" defer></script>  -->
        <title>Eletr8 | Registro</title>
<body class="body-register">
    <%- include("../partial/header") %>
    <div class="register">
        <h1>Edita  tu cuenta Electr8</h1>
        <section>   
            <form class="registro" action="/users/<%= editar.id %>/editPassword?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <div class="padd-10">
                    <label class="font-s" for="password">Contraseña: * </label>
                    <input class="inputA" type="password" name="password" id="password" >
                </div>
                <hr>
                <div class="padd-10">
                    <label class="font-s" for="repeat">Confirmar Contraseña: *</label>
                    <input class="inputA" type="password" name="repeat" id="repeat" >
                </div>
                <hr>
                <div>
                    <p class="mensaje text-red" ></p>
                </div>
                <% if(typeof errors.password !== 'undefined') { %>
                    <p class="text-red"><%= errors.password.msg %></p>
                <% } %>
                <% if(typeof errors.repeat !== 'undefined') { %>
                    <p class="text-red"><%= errors.repeat.msg %></p>
                <% } %>
                <div class="center1">
                  <button  class="crear" type="submit">Terminar edicion</button>
              </div>
              <div class="obligatorio">
                <p>(*) Campos obligatorios.</p>
            </div>
            </form>
            
        </section>
    </div>    
    <%- include("../partial/footer") %>
</body>