<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js" integrity="sha512-p1b+doSyVwyKqVTZeU1+XJtjpBSkhllBca2L6QTxPUjZZ0ELeZIHkAeQdtfNulbXxLdCwN4uKYGPpp78xeqwfQ==" crossorigin="anonymous"></script>
        <script src="/javascripts/editPerfilValidation.js" defer></script> 
        <title>Eletr8 | Registro</title>
<body class="body-register">
    <%- include("../partial/header") %>
    <div class="register">
        <h1>Edita  tu cuenta Electr8</h1>
        <section>   
            <form class="registro" action="/users/<%= editar.id %>/editPerfil?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="padd-10">
                    <label class="font-s" for="username">Nombre de Usuario: </label>
                    <input class="inputA" type="text" name="username" id="username" value="<%= editar.username %>">    
                </div>
                <hr>
                <div class="padd-10">
                    <label class="font-s" for="first_name">Nombre: *</label>
                    <input class="inputA" type="text" name="first_name" id="first_name" value="<%= editar.first_name %>">    
                </div>
                <hr>
                <div class="padd-10">
                    <label class="font-s" for="last_name">Apellido: *</label>
                    <input class="inputA" type="text" name="last_name" id="last_name" value="<%= editar.last_name %>">    
                </div>      
                <hr>
                <div class="padd-10">
                    <label class="font-s" for="address">Direccion: </label>
                    <input class="inputA" type="text" name="address" id="address" value="<%= editar.address %>">  
                </div>   
                <hr>
                <div>
                    <label class="titulo">Imágen: *</label>
                    <input class="inputA imagen" type="file" name="image" >
                </div>
                <div>
                    <p class="mensaje text-red" ></p>
                </div>
                

                <% if(typeof errors.first_name !== 'undefined') { %>
                    <p class="text-red"><%= errors.first_name.msg %></p>
                <% } %>
                <% if(typeof errors.last_name !== 'undefined') { %> 
                    <p class="text-red"><%= errors.last_name.msg %></p>
                <% } %>
                <% if(typeof errors.image !== 'undefined') { %>
                    <p class="text-red"><%= errors.image.msg %></p>
                <% } %>
                <div class="center1">
                  <button  class="crear" type="submit">Terminar edicion</button>
              </div>
              <div class="obligatorio">
                <p>(*) Campos obligatorios.</p>
            </div>
            </form>
            
        </section>
    </div>    
    <%- include("../partial/footer") %>
</body>