<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")  %> 
        <title>Eletr8 | Login</title>
    <body class="body-login">
        <%- include("../partial/header") %>
        <div class="login">
            <h1>Ingresá a tu cuenta de Electr8</h1>
            <br>
            <section>
                <form class="datos" action="/users" method="POST">
                    <div class="email">
                        <input type="email" name="email" id="email" placeholder="Email *">    
                    </div>
                    <hr>
                    <div class="password">
                        <input type="password" name="password" id="password" placeholder="Contraseña *">
                    </div>
                    <hr>
                    <div class="recordar">
                        <input type="checkbox" name="recordame" id="recordame" value="yes">
                        <label for="recordame">Recordar Cuenta</label>
                        <p>(*) Campos obligatorios.</p>
                    </div>
        

                    <% if(typeof errors.email !== 'undefined') { %>
                        <p class="text-red"><%= errors.email.msg	 %></p>
                    <% } %>
    
                    <% if(typeof errors.password !== 'undefined') { %>
                        <p class="text-red"><%= errors.password.msg	 %></p>
                    <% } %>
                    
                    <div class="center">
                        <button  class="enviar" type="submit" >Ingresar</button>
                    </div>
                </form>
               
            </section>
                
            <ul class="olvidar">
                <li><a href="/">Olvidé mi contraseña</a></li>
                <li><a href="/users/register">Registrarme</a></li>
            </ul>
                <div class="center1">
                    <a  class="google" href="google.com">Seguir con Google</a>
                </div>
            
        </div>    
    <%- include("../partial/footer") %>
</body>
