<!DOCTYPE html>
<html lang="en">
      <%- include("../partial/head")  %> 
<body>
      <%- include("../partial/header") %> 

      <main id="miCuenta">

            <section id="edit-perfil">

                  <article class="options-perfil">
                        <div class="avatar">
                              <img src="/images/users/<%= editar.image  %>"" alt="cargar avatar">
                        </div>
                        <div class="info-perfil">
                              <ul>
                                    <li>Nombre:  <%= editar.first_name%></li>
                                    <li>Apellido:  <%= editar.last_name%></li>
                                    <!-- <li>Telefono:  <%= editar.phone%></li> -->
                                    <li>Direccion: <%= editar.address%></li>
                                    <li>Email: <%= editar.email%></li>
                              </ul>

                        </div>
                        <div class="b-container">
                              <a class="buttom-action" href="/users/<%= editar.id%>/editPerfil">EDITAR PERFIL</a>
                        </div>
                  </article>
            </section>

            <section id="edit-product" class="usuario d-flex width-100">
                  <% if(locals.user && locals.profile == 'admin') { %>
                        <div class="d-flex">
                              <h2>Usuario <%= locals.user%></h2>
                        </div>
                  

                  <article class="crear">
                        <div class="titulo-action">
                              <h2>Ultimo producto creado</h2>
                        </div>
                        <div class="foto-action">
                              <img src="/images/<%= dato.category  %>/<%= dato.image  %>"alt="cargar imagen">
                        </div>
                        <div class="desc-action">
                              <p>Nombre:</p>
                              <h3><%= dato.name   %></h3>
                              <p>Categoria:</p>
                              <H2><%= dato.category   %></H2>
                        </div>
                        <div class="b-container">
                              <a  class="buttom-action" href="/products/create">crear un producto</a>
                        </div>
                  </article>

                  <% }  %>

                  <!-- <article class="borrar">
                        <div class="titulo-action">
                              <h2>Ultimo producto borrado</h2>
                        </div>
                        <div class="foto-action">
                              <img src="" alt="cargar imagen">
                        </div>
                        <div class="desc-action">
                              <h3>nombre del producto</h3>
                              <p>categoria</p>
                        </div>
                        <div class="b-container">
                              <a class="buttom-action" href="">borrar un producto</a>
                        </div>
                  </article>

                  <article class="modificar">
                        <div class="titulo-action">
                              <h2>Ultimo producto modificado</h2>
                        </div>
                        <div class="foto-action">
                              <img src="" alt="cargar imagen">
                        </div>
                        <div class="desc-action">
                              <h3>nombre del producto</h3>
                              <p>categoria</p>
                        </div>
                  <div class="b-container">
                        <a class="buttom-action" href="">modificar un producto</a>
                  </div>
                  </article> -->
            </section>
      </main>

      <%- include("../partial/footer") %> 
</body>
</html>
