<!DOCTYPE html>
<html lang="en">
        <%- include("../partial/head")  %> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js" integrity="sha512-p1b+doSyVwyKqVTZeU1+XJtjpBSkhllBca2L6QTxPUjZZ0ELeZIHkAeQdtfNulbXxLdCwN4uKYGPpp78xeqwfQ==" crossorigin="anonymous"></script>
        <script src="/javascripts/productValidation.js" defer></script> 
        <title>Eletr8 | Modifica Producto</title>
<body class="body-productForm">
    <%- include("../partial/header") %>

      <main class="product-form">
            <h1>Pública un nuevo producto</h1>
            <section>   
                <form class="new-product" action="/products" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre de Producto</label>
                    <% if(typeof errors.name !== 'undefined') { %>
                        <p class="text-red"><%= errors.name.msg	 %></p>
                    <% } %>
                    <input class="inputA" type="text" name="name" id="name">
                    <hr>
                    <label for="brand">Marca</label>
                    <input class="inputA" type="text" name="brand" id="brand">
                    <hr>
                    <label for="price">Precio</label>
                    <input class="inputA" type="text" name="price" id="price">
                    <hr><br>
                    <label class="label-desc" for="description">Descripcion</label>    
                    <textarea class="text" name="description" id="description" cols="30" rows="5"></textarea>
                    <p class="caracteres">Máximo 20 caracteres</p>
                    <% if(typeof errors.description !== 'undefined') { %>
                        <p class="text-red"><%= errors.description.msg	 %></p>
                    <% } %>

                    <label for="discount">Descuento</label>
                    <input class="inputA" type="text" name="discount" id="discount">
                    <hr>
                    <label for="stock">Stock</label>
                    <input class="inputA" type="text" name="stock" id="stock">
                    <hr>
                    <label for="speed">Velocidad</label>
                    <input class="inputA" type="text" name="speed" id="speed">
                    <hr>
                    <label for="battery">Bateria</label>
                    <div>
                        <select name="battery" id="battery">
                            <option value="">Seleccionar...</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>  
                    <label for="wheel">Ruedas</label>
                    <div>
                        <select name="wheel" id="wheel">
                            <option value="">Seleccionar...</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>  
                    <label for="light">Luces</label> 
                    <div>
                        <select name="light" id="light">
                            <option value="">Seleccionar...</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>  
                    <label for="folding">Plegable</label>
                    <div>
                        <select name="folding" id="folding">
                            <option value="">Seleccionar...</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>  
                    </div>
                    <label for="brake">Frenos</label>
                    <div>
                        <select name="brake" id="brake">
                        <option value="">Seleccionar...</option>
                        <option value="monopatines">Electrico</option>
                        <option value="bicicletas">Mecanico</option>
                        </select>   
                    </div>
                    <label for="color">Color</label>
                    <input class="inputA" type="text" name="color" id="color">
                    <hr>
                    <label for="weight">Peso</label>
                    <input class="inputA" type="text" name="weight" id="weight">
                    <hr><br>
                    <label for="category">Categoria:</label>
                    <div>
                        <select name="category" id="category">Categoria
                            <option value="">Seleccionar...</option>
                            <% for (let dato1 of categories) { %>
                                <option value="<%= dato1.id %>"><%= dato1.name %></option>
                            <% } %>
                        </select>
                    </div>
                    <br>
                    <label for="warranty">Garantias:</label>
                    <div>
                        <select name="warranty" id="warranty">Garantia
                            <option value="">Seleccionar...</option>
                            <% for (let dato of warranties) { %>
                                <option value="<%= dato.id %>">Pais: <%= dato.country_origin%> Años: <%= dato.duration%> Cobertura: <%= dato.oficial_coverage%></option>
                            <% } %>
                        </select>
                    </div>
                    <br>
                    <label class="titulo">Agregá una imágen</label>
                    <input type="file" name="image" >
                    <p class="mensaje text-red"></p>
                    

                    <% if(typeof errors.image !== 'undefined') { %>
                        <p class="text-red"><%= errors.image.msg%></p>
                    <% } %>
                    <div class="center1">
                        <button  class="crear" type="submit">Públicar</button>
                    </div>
                </form>
            </section>          
      </main>

        <%- include("../partial/footer") %>
</body>