<!DOCTYPE html>
<html lang="en">

    <%- include("../partial/head") %>

<body class="body-01">

    <%- include("../partial/header") %>

    <main id="principal1" class="d-flex fd-colu">

        

        <section id="productos">
            <div class="b-radius-0-0-13-13 centrado">
                <img src="/images/<%= valor.category.name %>/<%= valor.image %>" alt="" class="w-100 b-radius-13-13-0-0 m-20-0">
            </div>
            <div class="prod-dv3 p-20">
                <div class="t-tran-u f-weig-b">
                    <h2 class="m-20-0"><%= valor.brand %></h2>
                    <h3 class="m-20-0"><%= valor.name %></h3>
                </div>
                <div class="d-flex m-20-0">
                    <p class="m-right-10 f-size-10 t-deco-lt a-self-c">$ <%= convertir(valor.price) %></p>
                    <p class="descuento f-size-10"><%= valor.discount %> % OFF</p>
                </div>  
                <div >
                    <p class="p-final m-20-0">$ <%= convertir((valor.price) - ((valor.discount * valor.price)/100)) %></p>
                </div>
            </div>
            <div class="d-flex-r f-size-10">
                <div class="t-tran-u">
                    <p>Cantidad</p>
                </div>
                <div class="d-flex a-item-b">
                    <div>
                        <i id="btn-less" class="fas fa-minus-circle"></i>
                    </div>
                    <div class="cant d-flex"> 
                        <div>
                            <p id="display"></p>
                        </div>
                    </div>
                    <div>
                        <i id="btn-more" class="fas fa-plus-circle"></i>
                    </div>
                </div>
            </div>

            <% if(locals.user && locals.profile == 'admin') { %>

            <div class="d-flex carr f-size-10 t-tran-u tran-035">
                <a class="link-d w-100" href="/products/cart">Agregar al Carrito</a>
            </div>
            <div class="d-flex carr f-size-10 t-tran-u tran-035">
                <a class="link-d w-100" href="/products/<%= valor.id %>/edit">Editar</a>
            </div>
            <% } else if(locals.user) { %>

                <div class="d-flex carr f-size-10 t-tran-u tran-035">
                    <a class="link-d w-100" href="/products/cart">Agregar al Carrito</a>
                </div>

            <% } else { %>

                <div class="d-flex carr f-size-10 t-tran-u tran-035">
                    <a class="link-d w-100" href="/users/login">Agregar al Carrito</a>
                </div>

            <% } %>

        </section>

        <div id="agrupe" class="d-flex">
            <section id="descripcion">
                <div>
                    <div id="info" class="d-flex-c">
                        <h3 class="b-top1 b-botto1 p-10-20 m-20-0">Informacion del Producto</h3>
                        <div class="div1-a">
                            <p class="p-10-20 d-none ta-j active"><%= valor.description %></p>
                        </div>
                    </div> 
                </div>
                <div>
                    <div id="cara" class="d-flex-c">
                            <h3 class="b-top1 b-botto1 p-10-20 m-20-0">Caracteristicas</h3>

                            

                            <div class="div2-a d-none m-0-20 desactive">
                                <table class="w-100">
                                    <th class="th-1">
                                        <tr class="bg-c">
                                            <td>Velocidad</td>
                                            <td> <%= valor.speed %> km/h</td>
                                        </tr>
                                        <tr>
                                            <td>Batería</td>
                                            <td> <%= valor.battery %> km</td>
                                        </tr>
                                        <tr class="bg-c">
                                            <td>Ruedas</td>
                                            <td> <%= valor.wheel %> ”</td>
                                        </tr>
                                        <tr>
                                            <td>Luz</td>
                                            <td> <%= valor.light %></td>
                                        </tr>
                                        <tr class="bg-c">
                                            <td>Plegable</td>
                                            <td> <%= valor.folding %></td>
                                        </tr>
                                        <tr>
                                            <td>Frenos</td>
                                            <td> <%= valor.brake %></td>
                                        </tr>
                                        <tr class="bg-c">
                                            <td>Peso maximo</td>
                                            <td> <%= valor.weight %> kg</td>
                                        </tr>
                                        <tr>
                                            <td>Color</td>
                                            <td> <%= valor.color %> </td>
                                        </tr>
                                    </th>
                                </table>
                            </div>

                            

                    </div>       
                </div>
                <div>
                    <div id="serv" class="d-flex-c">
                        <h3 class="b-top1 b-botto1 p-10-20 m-20-0">Servicio Post-Venta</h3>
                        <div class="div3-a">
                            <p class="p-10-20 d-none ta-j desactive">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Minus sed consequuntur voluptatibus a impedit laudantium 
                                eum corporis reiciendis nulla, fugit error, itaque 
                                exercitationem? Iste, maiores. Architecto ea dolorem 
                                laboriosam ab!</p>
                        </div>
                    </div>    
                </div>
                <div>
                    <div id="gara" class="d-flex-c">
                        <h3 class="b-top1 b-botto1 p-10-20 m-20-0">Garantias</h3>
                        
                        

                        <div class="div4-a d-none m-0-20 desactive">
                            <table class="w-100 m-botto-20">
                                <th class="th-1">
                                    <tr class="bg-c">
                                        <td>Duracion</td>
                                        <td> <%= valor.warranty.duration %> año</td>
                                    </tr>
                                    <tr>
                                        <td>Origen</td>
                                        <td><%= valor.warranty.country_origin %></td>
                                    </tr>
                                    <tr class="bg-c">
                                        <td>Cobertura</td>
                                        <td><%= valor.warranty.oficial_coverage %></td>
                                    </tr>                                   
                                </th>
                            </table>
                        </div>

                        

                    </div> 
                </div>
            </section>
            <section id="cuotas">
                <div>
                    <div class="p-20 b-botto f-size-9 t-tran-u">
                        <h2 class="m-10-0">Cuotas y Medios de Pago</h2>
                    </div>
                    <div class="i-credit">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                        <i class="fab fa-cc-amex"></i>
                        <p class="f-size-60">Hasta 36 cuotas fijas con tarjetas selecionadas</p>
                    </div>
                    <div class="p-20 b-botto b-top">
                        <p class="f-size-9 m-10-0">Ver todos los medios de pago</p>
                    </div>
                </div>
                <div class="m-20-0">
                    <div class="d-flex p-20 f-size-10">
                        <div>
                            <i class="fas fa-truck i-credit"></i>
                        </div>
                        <div>
                            <p>Envios a Domicilio</p>
                            <a href="*" class=" link-d t-deco-n color-a f-size-9">Calcular Costo de Envio</a>
                        </div>
                    </div>
                    <div class="d-flex p-20 f-size-10">
                        <div>
                            <i class="fas fa-store-alt i-credit"></i>
                        </div>
                        <div>
                            <p>Retiro GRATIS en sucursal</p>
                            <a href="*" class="link-d t-deco-n color-a f-size-9">Ver sucursales disponibles</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        
        
        <section id="accesorios">
            <div class="acces_style f-size-70 w-100">
                <h2 class="t-tran-u m-20-0">Accesorios</h2>
            </div>
        </section> 
        
        <section id="relaciones"> 
            <% for (let i = 0; i < 3; i++){ %>  
            <div class="acces">  
                <div >
                    <h2 class="ta-c p-10"><%= esteDato[i].name %></h2>
                </div>
                <div class="img-c">
                    <img src="/images/<%= esteDato[i].category.name %>/<%= esteDato[i].image %>" alt="" class="w-100 b-radius-13">
                </div>
                <div>
                    <div class="d-flex ver f-size-10 t-tran-u tran-035">
                        <a class="link-d w-100"href="/products/<%= valor.id %>">Ver Mas</a>
                    </div>
                    <div class="d-flex carr f-size-10 t-tran-u tran-035">
                        <a class="link-d w-100"href="/products/cart">Agregar al Carrito</a>
                    </div>
                </div>
            </div>
            <% }%> 
        </section>

        <script src="../javascripts/productDetails.js"></script>
          
    </main>
    
    <%- include("../partial/footer") %>

</body>

</html>