<html lang="en">
    <%- include("../partial/head")  %> 
<body>
      <%- include("../partial/header") %> 
      <% for (let dato of items){%>
              <section  class="products-category">
                  <article class="container">
                        
                        <div class="img-contain">
                              <img src="/images/<%= dato.name %>/<%= dato.image  %>" alt="" width="100%">
                        </div>
                        <div class="contain-titles">
                              <h2><%= dato.name   %></h2>
                              <p><%= dato.description   %></p>
                              <div>
                                    <a class="a-h2-nov" href="/products/category/<%= dato.category.name  %>">Ver e-<%= dato.category.name  %></a>
                              </div>   
                        </div>
                  </article>
              </section>

              <%}%> 

        </main>
        <%- include("../partial/footer") %> 
</body>
</html>