<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <title>Productos</title>
</head>
<body>
    <%- include("../partial/header") %>
    <main id="principal" class="d-flex fd-colu">
        <% for(let valor of detalle) { %>
        <section id="productos">
            <div class="b-radius-0-0-13-13 centrado">
                <img src="/images/<%= valor.category %>/<%= valor.image %>" alt="" class="w-100 b-radius-13-13-0-0">
            </div>
            <div class="prod-dv3 p-20">
                <div class="t-tran-u f-weig-b">
                    <h2><%= valor.brand %></h2>
                    <h3><%= valor.name %></h3>
                </div>
                <div class="d-flex">
                    <p class="m-right-10 f-size-10 t-deco-lt a-self-c">$ <%= valor.price %></p>
                    <p class="descuento f-size-10"><%= valor.discount %> % OFF</p>
                </div>  
                <div >
                    <p class="p-final">$ <%= valor.price %></p>
                </div>
            </div>
            <div class="d-flex-r f-size-10">
                <div class="t-tran-u">
                    <p>Cantidad</p>
                </div>
                <div class="d-flex a-item-b">
                    <div>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <div class="cant d-flex"> 
                        <div>
                            <p>1</p>
                        </div>
                    </div>
                    <div>
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div>
            </div>
            <div class="carr f-size-10 t-tran-u tran-035">
                <a href="/products/productCart">Agregar al Carrito</a>
            </div>
        </section>
        <div id="agrupe" class="d-flex">
            <section id="descripcion">
                <div>
                    <div class="d-flex-c">
                        <h3 class="b-top1 b-botto1 p-10-20">Informacion del Producto</h3>
                        <div class="div1-a">
                            <p class="p-10-20 d-none ta-j"><%= valor.description %></p>
                        </div>
                    </div> 
                </div>
                <div>
                    <div class="d-flex-c">
                            <h3 class="b-top1 b-botto1 p-10-20">Caracteristicas</h3>
                            <div class="div2-a d-none m-0-20">
                                <table class="w-100">
                                    <th>
                                        <tr class="bg-c">
                                            <td>Velocidad</td>
                                            <td >25 km/h</td>
                                        </tr>
                                        <tr>
                                            <td>Duración de batería</td>
                                            <td>20 km</td>
                                        </tr>
                                        <tr class="bg-c">
                                            <td>Ruedas</td>
                                            <td>8”</td>
                                        </tr>
                                        <tr>
                                            <td>Luz</td>
                                            <td>Sí</td>
                                        </tr>
                                        <tr class="bg-c">
                                            <td>Plegable</td>
                                            <td>Sí</td>
                                        </tr>
                                        <tr>
                                            <td>Frenos</td>
                                            <td>Electricos</td>
                                        </tr>
                                        <tr class="bg-c">
                                            <td>Peso maximo</td>
                                            <td>100 kg</td>
                                        </tr>
                                        <tr>
                                            <td>Color</td>
                                            <td>Negro</td>
                                        </tr>
                                    </th>
                                </table>
                            </div>
                    </div>       
                </div>
                <div>
                    <div class="d-flex-c">
                        <h3 class="b-top1 b-botto1 p-10-20">Servicio Post-Venta</h3>
                        <div class="div3-a">
                            <p class="p-10-20 d-none ta-j">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Minus sed consequuntur voluptatibus a impedit laudantium 
                                eum corporis reiciendis nulla, fugit error, itaque 
                                exercitationem? Iste, maiores. Architecto ea dolorem 
                                laboriosam ab!</p>
                        </div>
                    </div>    
                </div>
                <div>
                    <div class="d-flex-c">
                        <h3 class="b-top1 b-botto1 p-10-20">Garantias</h3>
                        <div class="div4-a d-none m-0-20">
                            <table class="w-100 m-botto-20">
                                <th>
                                    <tr class="bg-c">
                                        <td>Duración</td>
                                        <td >1 año</td>
                                    </tr>
                                    <tr>
                                        <td>Origen</td>
                                        <td>Hungria</td>
                                    </tr>
                                    <tr class="bg-c">
                                        <td>Cobertura</td>
                                        <td>Oficial</td>
                                    </tr>                                   
                                </th>
                            </table>
                        </div>
                    </div> 
                </div>
            </section>
            <section id="cuotas">
                <div>
                    <div class="p-20 b-botto f-size-9 t-tran-u">
                        <h2>Cuotas y Medios de Pago</h2>
                    </div>
                    <div class="i-credit">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                        <i class="fab fa-cc-amex"></i>
                        <p class="f-size-60">Hasta 36 cuotas fijas con tarjetas selecionadas</p>
                    </div>
                    <div class="p-20 b-botto b-top">
                        <p class="f-size-9">Ver todos los medios de pago</p>
                    </div>
                </div>
                <div class="m-20-0">
                    <div class="d-flex p-20 f-size-10">
                        <div>
                            <i class="fas fa-truck i-credit"></i>
                        </div>
                        <div>
                            <p>Envios a Domicilio</p>
                            <a href="*" class="t-deco-n color-a f-size-9">Calcular Costo de Envio</a>
                        </div>
                    </div>
                    <div class="d-flex p-20 f-size-10">
                        <div>
                            <i class="fas fa-store-alt i-credit"></i>
                        </div>
                        <div>
                            <p>Retiro GRATIS en sucursal</p>
                            <a href="*" class="t-deco-n color-a f-size-9">Ver sucursales disponibles</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <% } %>
        <section id="accesorios">
            <div class="acces_style f-size-70">
                <h2 class="t-tran-u">Accesorios</h2>
            </div>
        </section>        
        <section id="relaciones">
            
            
            <% for(let valor of detalleAccesorio) { %>    
                
            <div class="acces">
                <div >
                    <h2 class="ta-c t-tran-c p-10"><%= valor.name %></h2>
                </div>
                <div class="img-c">
                    <img src="/images/<%= valor.category %>/<%= valor.image %>" alt="" class="w-100 b-radius-13">
                </div>
                <div>
                    <div class="carr f-size-10 t-tran-u tran-035">
                        <a href="/products/productCart">Agregar al Carrito</a>
                    </div>
                    <div class="ver f-size-10 t-tran-u tran-035">
                        <a href="/">Ver Mas</a>
                    </div>
                </div>
            </div>
                
            <% } %>
            <!-- <div class="acces">
                <div >
                    <h2 class="ta-c p-10">Bateria Externa</h2>
                </div>
                <div class="img-c">
                    <img src="images/accesorios/acc-102-External-BATERIA.png" alt="" class="w-100 b-radius-13">
                </div>
                <div>
                    <div class="carr f-size-10 t-tran-u tran-035">
                        <a href="/products/productCart">Agregar al Carrito</a>
                    </div>
                    <div class="ver f-size-10 t-tran-u tran-035">
                        <a href="/">Ver Mas</a>
                    </div>
                </div>
            </div>
            <div class="acces">
                <div >
                    <h2 class="ta-c p-10">Bolso</h2>
                </div>
                <div class="img-c">
                    <img src="images/accesorios/acc-104-BOLSO002.jpg" alt="" class="w-100 b-radius-13">
                </div>
                <div>
                    <div class="carr f-size-10 t-tran-u tran-035">
                        <a href="/products/productCart">Agregar al Carrito</a>
                    </div>
                    <div class="ver f-size-10 t-tran-u tran-035">
                        <a href="/">Ver Mas</a>
                    </div>
                </div>
            </div> -->
        </section>
    </main>
    <%- include("../partial/footer") %>
</body>
</html>