<html lang="en">
    <%- include("../partial/head") %>
<body>
    <%- include("../partial/header") %>
<main>
            <div class="small-container cart-page">

                <table class="table-cart">
                    <tr>
                        <th class="tr-table">Producto</th>
                        <th>Cantidad</th>
                        <th class="tr-table-2">Subtotal</th>
                    </tr>
                    <tr>
                    <td>
    
                        <div class="cart-info">
                            <img src="/images/monopatines/mp-300-Ninebot-KICKSCOOTER-Max.png">
                            <div>
                                <p class="parrafo">NINEBOT KICKSCOOTER</p>
                                <small>$20.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td class="td-div">
    
                        <div class="cart-info">
                            <img src="/images/monopatines/mp-303-ninebot-air-t15.png">
                            <div>
                                <p class="parrafo">NINEBOT AIR T15</p>
                                <small>$20.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td class="td-div ult-td">
    
                        <div class="cart-info">
                            <img src="/images/monociclos/mc-406-MONOCICLO-CICLO.png">
                            <div>
                                <p>MONOCICLO GREY</p>
                                <small>$25.000</small>
                                <br>
                                <a href="">Remover</a>
                            </div>
                        </div>
    
                    </td>
                    <td class="ult-td"><input type="number" value="1"></td>
                    <td class="ult-td">$25.000</td>
                </tr>
                </table>
    
                <div class="total-price">
    
                    <table>
                        <tr class="tb-total">
                            <td>Subtotal</td>
                            <td>$65.000</td>
                        </tr>
                        <tr class="tb-total">
                            <td>Envío</td>
                            <td>$3.000</td>
                        </tr>
                        <tr class="tb-total">
                            <td>Descuento</td>
                            <td>$2.500</td>
                        </tr>
                        <tr>
                            <td  class="btn-finalizar">Total</td>
                            <td  class="btn-finalizar">$65.500</td>
                        </tr>
                        <tr class="tb-total-2">

                            <td class="btn-finalizar-2"><a class="finalizar-compra" href="/">FINALIZAR COMPRA</a></td>

                        </tr>
                    </table>
    
                </div>
    
            </div>
        </main>

        <section id="accesorios" class="pad-section">
            <div class="titulo-link-contain">
                  <h2 class="h2-accesorios">Accesorios</h2>
                  <a class="link-ver-mas" href="/products/category/accesorios">Ver mas accesorios</a>
            </div>
            <% for (let i of esteAccesorio) {%>
            <article class="ac-contain">
                  <div class="p-ac-img">
                      <img src="/images/<%= i.category.name %>/<%= i.image%>" alt="canasta">
                  </div>
                  <div class="acc-base-contain">
                        <h3><a href="#"><%= i.name%></a></h3>
                        <p class="precio">$ <%= i.price%></p>
                        <a class="ver-mas" href="/products/<%= i.id %>">Ver mas</a>
                        <a class="add-car" href="/products/cart">Agregar al carrito</a>
                  </div>      
            </article>
            <%}%>
      </section>

    <%- include("../partial/footer") %>
</body>
</html>